---
const profiles = {
  github: {
    name: "GitHub",
    url: "https://github.com/Jayliu9218"
  },
  researchgate: {
    name: "ResearchGate", 
    url: "https://www.researchgate.net/profile/Jie-Liu-476"
  },
  scopus: {
    name: "Scopus",
    url: "https://www.scopus.com/authid/detail.uri?authorId=59745163700"
  },
  scholar: {
    name: "Google Scholar",
    url: "https://scholar.google.com/citations?user=Q-i6GPwAAAAJ"
  },
  hdarea:{
    name: "HDArea",
    url: "https://hdarea.club/promotionlink.php?key=e4362fe760234f1c36ffec7ce51dbe29"
  }
};

import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  个人主页
  {Object.entries(profiles).map(([key, profile]) => (
    <a href={profile.url}>{profile.name}</a> <></> <></>
  ))}
  <Social platform="github" username="Jayliu9218" />
</footer>